@charset "UTF-8";
/*共通エリア*/

html + body{
    min-height: 100%;
}

body{
    font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans","Meiryo",sans-serif;
}

.page_title{
    color:rgba(65, 89, 225, 0.774);
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
}

/*category_rink*/

.sub_title{
    font-size: 22px;
    padding: 0 8px 8px;
    background-color: whitesmoke;
    border-bottom: powderblue solid;
    font-weight: normal;
}
.sub_menu{
    display: grid;
    list-style: none;
    grid-template-columns: 1fr 1fr;
}
.sub_menu li{
    background-color: whitesmoke;
    padding: 10px;
}
.sub_menu a{
    color: slategrey;
    display: block;
    padding: 10px;
    font-size: 13px;
    text-decoration: none;
}
.sub_menu a:hover{
    opacity: 0.8;
}

/*category_rink fin*/

footer{
    background: darkslateblue;
    display: flex;
    justify-content: center;
}

footer .tos{
    color: aliceblue;
    text-decoration: none;
}

/*共通エリア　終*/


/*トップページ*/

/*site_search*/
#site_search{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background: lightgray;
}

#site_search label{
    padding: 0 20px;
}

.search_icon{
    height: 16px;
    width: 16px;
}

.search{
    display: flex;
    justify-content: flex-start;
    margin: 5px;
    list-style: none;
    width: 100%;
}

#search_box{
    background: whitesmoke;
    border-radius: 2px 0 0 2px;
    height: 45px;
}

input[type="text"]{
    padding: 0 10px;
}

#search_button{
    background:gold;
    border: none;
    border-radius: 0 2px 2px 0;
    color: lightyellow;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    width: 75px;
}

#search_button:hover{
    background: wheat;
    color: goldenrod;
}

/*site_search fin*/


/*recent_post*/
.notice{
    padding: 0 16px;
}

.recent_post{
    padding: 8px 16px;
    margin: 16px ;
    color: rgba(0, 0, 0, 0.897);
    background: snow;
    border-radius: 2px;
    border-top: solid 5px navy;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}


/*recent_post fin*/

/*トップページ　終*/

/*質問する*/

#tos_sliding{
    display: none;
    
}
.use_policy{
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 2px;
    background: cornsilk;
    color: goldenrod;
    margin-left: 10px;
    font: bold;
    -webkit-transition: 0.1s;
            transition: 0.1s;
}
.use_policy:hover{
    background: lightgoldenrodyellow;
}
.tos_panel{
    height: 0;
    overflow: hidden;
    background: rgb(167, 185, 233);
    margin-top: 10px;
    margin-left: 10px;
    padding: 0;
    border-radius: 4px;
    -webkit-transition: .3s ease;
            transition: .3s ease;
}
#tos_sliding:checked + .tos_panel{
    height: auto;
    padding: 15px;
}



/*質問する　終*/
/*FAQを作る*/
/*Q&A一覧*/
/*タグ一覧*/
/*お知らせ*/
/*記事*/
/*リンク*/
/*お問い合わせ*/
/*利用事項*/




/*mobile*/
@media screen and (max-width: 780px){

    #main_area{
        flex-direction: column;
    }
    
    article
    ,aside{
        width: 100%;
    }
    
    /*共通エリア*/
    
    /*main_navigation*/
    .title_area{
        display: none;
    }
    
    .main_navigation {
        background-color:  rgb(44, 66, 128);
        height: 100%;
        opacity: 0;
        overflow: visible;
        padding-top: 60px;
        pointer-events: none;
        position: absolute;
        text-align: center;
        top: 0;
        visibility: visible;
        width: 100%;
        z-index: 2;    
    }
	.main_navigation li {
        display: block;
        border-bottom: 1px solid aliceblue;
    }

	.main_navigation li a {
        display: block;
        text-decoration: none;
        color: aliceblue;
        padding: 19px;
    }
    
	.main_navigation a:hover {
		background-color: rgb(51, 74, 136);
	}

	.side_menu {
		display: flex;
		justify-content: space-between;
		z-index: 10;
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 25px;
		width: 100%;
		height: 60px;
		background-color: aliceblue;
	}
	.menu_trigger {
		display: block;
		position: relative;
		width: 25px;
		height: 100%;
		cursor: pointer;
		-webkit-transition: transform .3s ease-in;
		        transition: transform .3s ease-in;
	}
	.menu_trigger > span {
		display: block;
		position: absolute;
		top: 55%;
		margin-top: -5px;
		width: 100%;
		height: 3px;
		border-radius: 1px;
		background-color:  rgb(44, 66, 128);
		-webkit-transition: transform .3s ease-in;
		        transition: transform .3s ease-in;
    }
    
	.menu_trigger > span:before, .menu_trigger > span:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		border-radius: 1px;
		background-color:  rgb(44, 66, 128);
		-webkit-transition: transform .3s ease;
		        transition: transform .3s ease;
	}
	.menu_trigger > span:before {
		-webkit-transform: translateY(-9.6px);
		        transform: translateY(-9.6px);
	}
	.menu_trigger > span:after {
		-webkit-transform: translateY(9.6px);
		        transform: translateY(9.6px);
	}
	
    #menu_bar:checked + .side_menu .menu_trigger {
		-webkit-transform: rotate(45deg);
		        transform: rotate(45deg);
	}
	
    #menu_bar:checked + .side_menu span:before
    ,#menu_bar:checked + .side_menu span:after {
		-webkit-transform: rotate(90deg);
		        transform: rotate(90deg);
	}
	#menu_bar:checked ~ .main_navigation {
		visibility: visible;
        opacity: 1;
        pointer-events: auto;
        position: fixed;
		-webkit-transition-delay: 0s;
		        transition-delay: 0s;
	}
    
    #menu_bar:checked ~ .side_menu {
		position: fixed;
	}

    /*main_navigation fin*/
    
    /*共通エリア　終*/
    
    /*トップページ*/
    
    /*shortcut*/
    
    .shortcut{
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin-top: 40px;
        width: 100%;
    }
    .shortcut a{
        text-decoration: none;
        color: snow;
        display: block;
    }
    .shortcut li{
        width: 85%;
        padding: 8px;
        background:rgb(49, 70, 129);
        text-align: center;
    }
    .shortcut li:not(:first-child){
        border-left: 1px solid whitesmoke;
    }
    
    /*shortcut fin*/
    
    /*site_search*/
    
    .search{
        display: flex;
        justify-content: center;
    }
    #search_box{
        width: 70%;
    }
    
    /*site_search fin*/
    
}




/*PC*/
@media screen and (min-width: 781px){

    #main_area{
        display: flex;    
        justify-content: space-around;
        margin-bottom: 50px; 
    }
    
    article{
        padding: 0;
        width: 74%;
    }
    
    aside{
        width: 25%;
        padding-top: 15px;
    }
    
    .title_area{
        text-align: center;
        max-width: 100%;
        height: 60px;
    }
    
    /*main_navigation*/
    #menu_bar{
        display: none;
    }
    .side_menu{
        display: none;
    }

    .main_navigation{
        width: 100%;
    }
    
    .main_navigation ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
    }
    
    .main_navigation li{
        background:rgb(44, 66, 128);
        width: 100%;
    }

    .main_navigation li:hover{
        opacity: 0.8;
    }
        
    .main_navigation li a{
        color: seashell ;
        display: block;
        font-size: 14px;
        padding: 20px;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
    }

    .main_navigation li:not(:first-child){
        border-left: 1px solid whitesmoke;
    }
  
    
    /*main_navigation fin*/
    
    /*shortcut*/
    .shortcut{
        display: none;
    }
    /*shortcut fin*/
    
    .search{
        display: flex;
        justify-content: flex-start;
    }
        #search_box{
        width: 50%;
    }
}
